
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .loader {
    border: 10px solid rgba(0, 0, 0, 0.3);
    border-top: 10px solid #3498db;
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }