.all-country-data{
    padding: 0rem 5% 0rem 5%;
    background-color: rgb(246, 245, 245);
    padding-top: 2rem;
    display: flex;
    gap:5rem;
    flex-wrap: wrap;
}
.country-image{
    height: 14rem;
    width: 22rem;
    object-fit:fill;
    border-radius: 10px 10px 0px 0px;
}
.highlight{
    font-weight: bold;
    font-size: large;
}
.country-details{
    width: 17rem;
    padding-left:2.5rem;
    border-radius: 10px 10px 10px 10px;
}
.country-data{
    background-color: white;
    box-shadow: 0px 0px 6px gray;
    border-radius: 10px 10px 10px 10px;
}
.all-country-data.dark-clr2{
    background-color: #1e283c;
    color: white;
}

.country-data.dark-clr2{
    background-color: #3b4252;
    box-shadow: 0px 0px 0px;
}