.nav-bar2{
    padding: 3rem 5% 3rem 5%;
    background-color: rgb(246, 245, 245);
}
#search, .dropdown{
    width: 30%;
    height: 3rem;
    font-size: larger;
    box-shadow: 0px 0px 6px gray;
    border: 0;
    border-radius: 10px 10px 10px 10px;
}
.dropdown{
    width: 13rem;
    font-size: larger;
    margin: 1rem;
}
.nav-bar2.dark-clr1{
    background-color: #1e283c;
    color: white;
}
.dropdown.dark-clr2{
    width: 13rem;
    font-size: larger;
    margin: 1rem;
    background-color: #3b4252;
    height: 3rem;
    box-shadow: 0px 0px 0px;
}