#back-button{
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 10px 10px 10px 10px;
    width: 10rem;
    height: 3rem;
    font-size: larger;
    box-shadow: 0px 0px 6px gray;
    border: 0;
    border-radius: 10px 10px 10px 10px;
}
.country-image-solo{
    height: 30rem;
    width: 40%;
    object-fit:fill;
    border-radius: 10px 10px 10px 10px;
}
.all-detail{
    width: 50%;
}
.country-details-solo{
    display: flex;
    justify-content: space-between;
}

.change-country{
    font-size:medium;
    box-shadow: 0px 0px 2px gray;
    border: 0;
    border-radius: 10px 10px 10px 10px;
    margin: 0.5rem;
    padding: 0.5rem;
}
.all-country-data{
    padding-bottom: 10rem;
}