.nav-bar1{
    background-color: white;
    border-bottom: 1px solid;
    /* box-shadow: 1px 1px 10px grey; */
}
.change-mode{
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 10px 10px 10px 10px;
}

.nav-bar1.dark-clr2 {
    background-color: #3b4252;
    border: 0;
}
