.nav-bar1, .nav-bar2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 5% 0rem 5%;
}
.dark-clr1{
    background-color: #1e283c;
     color: white;
}
.dark-clr2{
    background-color: #3b4252;
    box-shadow: 0px 0px 0px;
    color: white;
}
/* 
.dark-clr .nav-bar2, .dark-clr .all-country-data{
    background-color: #1e283c;
    color: white;
}


.dark-clr #search, .dark-clr #dropdown, .dark-clr .change-mode, .dark-clr  .country-data, .dark-clr .nav-bar1, .dark-clr #sort-dropdown{
    background-color: #3b4252;
    box-shadow: 0px 0px 0px;
    color: white;
} */